:root {
    --companyColor1: #068bff;
    --companyColor1d: #077be0;
    --companyColor2: #ffffff;
    --companyColor3: #000000;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto Mono', monospace;
  }

  header, footer {
    height: 200px;
    background-color: var(--companyColor1);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer {
    justify-content: center;
  }

  #logo, img {
    height: 100%;
    
  }

  #logo {
    display: flex;
  }

  #logo h1 {
    margin: 0;
    align-self: flex-end;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 7px;
  }


.form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.inputs-wrapper  {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-self: center;
    gap: 20px;
  }

.inputs-wrapper input, textarea {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
    input:invalid {
        background: var(--companyColor1d);
    }

textarea.item-description {
      width: 500px;
      height: 200px;
      align-self: center
    }

.add-item-button {
    margin: 30px 0;
    width: 150px;
    padding: 15px;
    align-self: center;
    
}    

.add-item-button:hover {
    border: 2px solid var(--companyColor3);
    background-color: var(--companyColor1);
    cursor: pointer;
  }

  .return-button {
    width: fit-content;
    padding: 10px;
    align-self: center;
    background-color: var(--companyColor1);
    border: none;
    a {
        text-decoration: none;
        color: var(--companyColor2); 
    }
    :hover {
        cursor: pointer;
    }
  }
  
.company-highlights {
  height: 100%;
  font-size: 12px;
  display: flex;
  max-width: 40%;
  margin-right: 20px;
  p {
    text-align:justify
  }
}  

.logo-bottom {
  height: 40%;
}

.social-icon {
  height: 20px;
}

.socials-list ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.company-info, .logo-bottom {
  align-self: center;
  margin: 0 10px;
}

.listing-upload-message {
  text-align: center;
}